    * {
      padding :0;
      margin :0;
    }
    body {
        font-family: 'Crimson Pro', serif;
        font-size: 20px;
        background-color: black;
      }
    .navbar {
      background: rgb(0, 0, 0);
      color: #fff;
    }
    .navbar-brand {
        font-size: 2rem;
    }
    p {
      margin-bottom : 0;
      color: white;
    }
    .card {
      margin:1rem;
      border: none;
      background-color: rgb(30, 30, 30);
    }

    .card-img-top {
      border:2px solid gray;
    }
    .card-header {
        font-size: 2rem;
        color: white;
    }

    .card-title {
        font-size: 3rem;
        color: white;
    }

    .card-text {
        font-size: 2rem;
    }

    h5 {
        font-size: 2rem !important;
    }
    .navbar-dark .navbar-nav .nav-link {
        border-bottom: 2px solid rgba(255, 255, 255, 0);
    }
    
    .navbar-dark .navbar-nav .nav-link:hover {
        color: rgba(255,255,255,.75);
        border-bottom: 2px solid white;
    }
    .animate__animated.animate__fadeInUp {
      --animate-duration: 1s;
    }